<%- include('partials/loggedInHeader') -%>
<div class="bg-gray-900 py-20">
    <div class="flex items-center w-full max-w-screen-md px-6 mx-auto lg:w-4/6">
        <div class="col-6">
            <div class="mt-5">
             
              <form 
              action="/journal/createJournal" 
              method="POST"
              class="text-white">
                <h2 class="text-4xl font-bold text-center text-white my-6">Add An Entry</h2>
                
                <!-- Form fields to check if the user smoked -->
                <div class="mb-3" id="didjaSmoke">
                    <fieldset>
                        <legend class="form-label text-2xl my-3">Did you smoke today?</legend>
                        <input type="radio" id="smoked" name="smokedToday" value="true">
                        <label for="smoked" class="form-label">Yes</label>
                        <br>
                        <input type="radio" id="didNotSmoke" name="smokedToday" value="false">
                        <label for="didNotSmoke" class="form-label">No</label>
                    </fieldset>
                </div>

                <!-- Form fields that check what triggered user to smoke -->
                <div class="mb-3" id="triggerField">
                    <fieldset>
                        <legend class="form-label text-2xl my-3">What triggered you?</legend>
                        <div>
                          <p class="form-label text-xl my-3">Behavioural triggers</p>
                          <div>
                            <input type="checkbox" id="talkingOnPhone" name="triggers" value="talking on the phone">
                            <label for="talkingOnPhone">Talking on the phone</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="drinkingAlcohol" name="triggers"  value="drinking alcohol">
                            <label for="drinkingAlcohol">Drinking alcohol</label>
                          </div>

                          <div>
                            <input type="checkbox" id="watchingTV" name="triggers"  value="watching tv">
                            <label for="watchingTV">Watching TV</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="driving" name="triggers" value="driving">
                            <label for="driving">Driving</label>
                          </div>

                          <div>
                            <input type="checkbox" id="finishingMeal" name="triggers"  value="finishing a meal">
                            <label for="finishingMeal">Finishing a meal</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="drinkCoffee" name="triggers"  value="drinking coffee">
                            <label for="drinkCoffee">Drinking coffee</label>
                          </div>

                          <div>
                            <input type="checkbox" id="workBreak" name="triggers"  value="taking a work break">
                            <label for="workBreak">Taking a work break</label>
                          </div>

                          <div>
                            <input type="checkbox" id="afterSex" name="triggers"  value="after having sex">
                            <label for="afterSex">After having sex</label>
                          </div>

                          <div>
                            <input type="checkbox" id="beforeBed" name="triggers"  value="before going to bed">
                            <label for="beforeBed">Before going to bed</label>
                          </div>
                        </div>


                        <div>
                          <p class="form-label text-xl my-3">Social triggers</p>

                          <div>
                            <input type="checkbox" id="goingBar" name="triggers"  value="going to a bar">
                            <label for="goingBar">Going to a bar</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="socialEvent" name="triggers"  value="going to a party or other social event">
                            <label for="socialEvent">Going to a party or other social event</label>
                          </div>

                          <div>
                            <input type="checkbox" id="concert" name="triggers"  value="going to a concert">
                            <label for="concert">Going to a concert</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="someoneSmoke" name="triggers"  value="seeing someone else smoke">
                            <label for="someoneSmoke">Seeing someone else smoke</label>
                          </div>

                          <div>
                            <input type="checkbox" id="friendSmoke" name="triggers"  value="being with friends who smoke">
                            <label for="friendSmoke">Being with friends who smoke</label>
                          </div>
                        
                          <div>
                            <input type="checkbox" id="bigEvent" name="triggers"  value="celebrating a big event">
                            <label for="bigEvent">Celebrating a big event</label>
                          </div>

                        </div>
                        
                        <!-- If the user entered a custom trigger during sign up, display it here -->
                        <% if ((!trigger[trigger.length - 1]) == "") { %>
                            <div class="my-6">
                                <p class="form-label text-xl my-3">Custom Trigger</p>
                                <input type="checkbox" id="<%= trigger[trigger.length - 1] %>" name="triggers"  value="<%= trigger[trigger.length - 1] %>">
                                <label for="<%= trigger[trigger.length - 1] %>"><%= trigger[trigger.length - 1] %></label>
                            </div>
                        <% } %>

                    </fieldset>
                </div>

                <!-- Form fields that check how user is feeling -->
                <div class="mb-3">
                    <fieldset>
                        <legend class="form-label text-2xl my-3">How are you feeling today?</legend>
                        
                        <!-- Rate anxiety on scale of 1-10 -->
                        <fieldset class="my-3">
                            <legend class="form-label text-xl">Anxious</legend>
                            <input type="radio" id="anxious1" name="anxietyLevel" value="1">
                            <label for="anxious1" class="form-label">1</label>
    
                            <input type="radio" id="anxious2" name="anxietyLevel" value="2">
                            <label for="anxious2" class="form-label">2</label>
    
                            <input type="radio" id="anxious3" name="anxietyLevel" value="3">
                            <label for="anxious3" class="form-label">3</label>
    
                            <input type="radio" id="anxious4" name="anxietyLevel" value="4">
                            <label for="anxious4" class="form-label">4</label>
    
                            <input type="radio" id="anxious5" name="anxietyLevel" value="5">
                            <label for="anxious5" class="form-label">5</label>
    
                            <input type="radio" id="anxious6" name="anxietyLevel" value="6">
                            <label for="anxious6" class="form-label">6</label>
    
                            <input type="radio" id="anxious7" name="anxietyLevel" value="7">
                            <label for="anxious7" class="form-label">7</label>
    
                            <input type="radio" id="anxious8" name="anxietyLevel" value="8">
                            <label for="anxious8" class="form-label">8</label>
    
                            <input type="radio" id="anxious9" name="anxietyLevel" value="9">
                            <label for="anxious9" class="form-label">9</label>
    
                            <input type="radio" id="anxious10" name="anxietyLevel" value="10">
                            <label for="anxious10" class="form-label">10</label>
                        </fieldset>

                        <!-- Rate excitement on scale of 1-10 -->
                        <fieldset class="my-3">
                            <legend class="form-label text-xl mt-3">Excited</legend>
                            <input type="radio" id="excited1" name="excitementLevel" value="1">
                            <label for="excited1" class="form-label">1</label>
    
                            <input type="radio" id="excited2" name="excitementLevel" value="2">
                            <label for="excited2" class="form-label">2</label>
    
                            <input type="radio" id="excited3" name="excitementLevel" value="3">
                            <label for="excited3" class="form-label">3</label>
    
                            <input type="radio" id="excited4" name="excitementLevel" value="4">
                            <label for="excited4" class="form-label">4</label>
    
                            <input type="radio" id="excited5" name="excitementLevel" value="5">
                            <label for="excited5" class="form-label">5</label>
    
                            <input type="radio" id="excited6" name="excitementLevel" value="6">
                            <label for="excited6" class="form-label">6</label>
    
                            <input type="radio" id="excited7" name="excitementLevel" value="7">
                            <label for="excited7" class="form-label">7</label>
    
                            <input type="radio" id="excited8" name="excitementLevel" value="8">
                            <label for="excited8" class="form-label">8</label>
    
                            <input type="radio" id="excited9" name="excitementLevel" value="9">
                            <label for="excited9" class="form-label">9</label>
    
                            <input type="radio" id="excited10" name="excitementLevel" value="10">
                            <label for="excited10" class="form-label">10</label>
                        </fieldset>

                        <!-- Rate boredom on scale of 1-10 -->
                        <fieldset class="my-3">
                            <legend class="form-label text-xl mt-3">Bored</legend>
                            <input type="radio" id="bored1" name="boredomLevel" value="1">
                            <label for="bored1" class="form-label">1</label>
    
                            <input type="radio" id="bored2" name="boredomLevel" value="2">
                            <label for="bored2" class="form-label">2</label>
    
                            <input type="radio" id="bored3" name="boredomLevel" value="3">
                            <label for="bored3" class="form-label">3</label>
    
                            <input type="radio" id="bored4" name="boredomLevel" value="4">
                            <label for="bored4" class="form-label">4</label>
    
                            <input type="radio" id="bored5" name="boredomLevel" value="5">
                            <label for="bored5" class="form-label">5</label>
    
                            <input type="radio" id="bored6" name="boredomLevel" value="6">
                            <label for="bored6" class="form-label">6</label>
    
                            <input type="radio" id="bored7" name="boredomLevel" value="7">
                            <label for="bored7" class="form-label">7</label>
    
                            <input type="radio" id="bored8" name="boredomLevel" value="8">
                            <label for="bored8" class="form-label">8</label>
    
                            <input type="radio" id="bored9" name="boredomLevel" value="9">
                            <label for="bored9" class="form-label">9</label>
    
                            <input type="radio" id="bored10" name="boredomLevel" value="10">
                            <label for="bored10" class="form-label">10</label>
                        </fieldset>

                        <!-- Rate sadness on scale of 1-10 -->
                        <fieldset class="my-3">
                            <legend class="form-label text-xl mt-3">Sad</legend>
                            <input type="radio" id="sad1" name="sadnessLevel" value="1">
                            <label for="sad1" class="form-label">1</label>
    
                            <input type="radio" id="sad2" name="sadnessLevel" value="2">
                            <label for="sad2" class="form-label">2</label>
    
                            <input type="radio" id="sad3" name="sadnessLevel" value="3">
                            <label for="sad3" class="form-label">3</label>
    
                            <input type="radio" id="sad4" name="sadnessLevel" value="4">
                            <label for="sad4" class="form-label">4</label>
    
                            <input type="radio" id="sad5" name="sadnessLevel" value="5">
                            <label for="sad5" class="form-label">5</label>
    
                            <input type="radio" id="sad6" name="sadnessLevel" value="6">
                            <label for="sad6" class="form-label">6</label>
    
                            <input type="radio" id="sad7" name="sadnessLevel" value="7">
                            <label for="sad7" class="form-label">7</label>
    
                            <input type="radio" id="sad8" name="sadnessLevel" value="8">
                            <label for="sad8" class="form-label">8</label>
    
                            <input type="radio" id="sad9" name="sadnessLevel" value="9">
                            <label for="sad9" class="form-label">9</label>
    
                            <input type="radio" id="sad10" name="sadnessLevel" value="10">
                            <label for="sad10" class="form-label">10</label>
                        </fieldset>

                        <!-- Rate happiness on scale of 1-10 -->
                        <fieldset class="my-3">
                            <legend class="form-label text-xl mt-3">Happy</legend>
                            <input type="radio" id="happy1" name="happinessLevel" value="1">
                            <label for="happy1" class="form-label">1</label>
    
                            <input type="radio" id="happy2" name="happinessLevel" value="2">
                            <label for="happy2" class="form-label">2</label>
    
                            <input type="radio" id="happy3" name="happinessLevel" value="3">
                            <label for="happy3" class="form-label">3</label>
    
                            <input type="radio" id="happy4" name="happinessLevel" value="4">
                            <label for="happy4" class="form-label">4</label>
    
                            <input type="radio" id="happy5" name="happinessLevel" value="5">
                            <label for="happy5" class="form-label">5</label>
    
                            <input type="radio" id="happy6" name="happinessLevel" value="6">
                            <label for="happy6" class="form-label">6</label>
    
                            <input type="radio" id="happy7" name="happinessLevel" value="7">
                            <label for="happy7" class="form-label">7</label>
    
                            <input type="radio" id="happy8" name="happinessLevel" value="8">
                            <label for="happy8" class="form-label">8</label>
    
                            <input type="radio" id="happy9" name="happinessLevel" value="9">
                            <label for="happy9" class="form-label">9</label>
    
                            <input type="radio" id="happy10" name="happinessLevel" value="10">
                            <label for="happy10" class="form-label">10</label>
                        </fieldset>

                        <!-- Rate loneliness on scale of 1-10 -->
                        <fieldset class="my-3">
                            <legend class="form-label text-xl mt-3">Lonely</legend>
                            <input type="radio" id="lonely1" name="lonelinessLevel" value="1">
                            <label for="lonely1" class="form-label">1</label>
    
                            <input type="radio" id="lonely2" name="lonelinessLevel" value="2">
                            <label for="lonely2" class="form-label">2</label>
    
                            <input type="radio" id="lonely3" name="lonelinessLevel" value="3">
                            <label for="lonely3" class="form-label">3</label>
    
                            <input type="radio" id="lonely4" name="lonelinessLevel" value="4">
                            <label for="lonely4" class="form-label">4</label>
    
                            <input type="radio" id="lonely5" name="lonelinessLevel" value="5">
                            <label for="lonely5" class="form-label">5</label>
    
                            <input type="radio" id="lonely6" name="lonelinessLevel" value="6">
                            <label for="lonely6" class="form-label">6</label>
    
                            <input type="radio" id="lonely7" name="lonelinessLevel" value="7">
                            <label for="lonely7" class="form-label">7</label>
    
                            <input type="radio" id="lonely8" name="lonelinessLevel" value="8">
                            <label for="lonely8" class="form-label">8</label>
    
                            <input type="radio" id="lonely9" name="lonelinessLevel" value="9">
                            <label for="lonely9" class="form-label">9</label>
    
                            <input type="radio" id="lonely10" name="lonelinessLevel" value="10">
                            <label for="lonely10" class="form-label">10</label>
                        </fieldset>
                            
                    </fieldset>
                </div>

                <div class="mb-3">

                </div>

                <!-- Rate cravings level on scale of 1-10 -->
                <div class="mb-3">
                    <fieldset class="mb-6">
                        <legend class="form-label text-2xl my-3">On a scale of 1 to 10, how strong is your craving to smoke?</legend>
                        <input type="radio" id="craving1" name="cravingsLevel" value="1">
                        <label for="craving1" class="form-label">1</label>

                        <input type="radio" id="craving2" name="cravingsLevel" value="2">
                        <label for="craving2" class="form-label">2</label>

                        <input type="radio" id="craving3" name="cravingsLevel" value="3">
                        <label for="craving3" class="form-label">3</label>

                        <input type="radio" id="craving4" name="cravingsLevel" value="4">
                        <label for="craving4" class="form-label">4</label>

                        <input type="radio" id="craving5" name="cravingsLevel" value="5">
                        <label for="craving5" class="form-label">5</label>

                        <input type="radio" id="craving6" name="cravingsLevel" value="6">
                        <label for="craving6" class="form-label">6</label>

                        <input type="radio" id="craving7" name="cravingsLevel" value="7">
                        <label for="craving7" class="form-label">7</label>

                        <input type="radio" id="craving8" name="cravingsLevel" value="8">
                        <label for="craving8" class="form-label">8</label>

                        <input type="radio" id="craving9" name="cravingsLevel" value="9">
                        <label for="craving9" class="form-label">9</label>

                        <input type="radio" id="craving10" name="cravingsLevel" value="10">
                        <label for="craving10" class="form-label">10</label>
                    </fieldset>
                    
                </div>
                
                <button 
                  type="submit"  
                  value="Upload"
                  class="w-3/4 px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-700 rounded-md hover:bg-blue-900 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                    Submit
                </button>
              </form>
              <br>
              <button type="button" class="w-3/4 px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-purple-600 rounded-md hover:bg-purple-800 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50"><a href="/profile">Return to Profile</a></button>
            
            </div>
        </div>
      </div>
    </div>
  </div>


<script>
  document.getElementById('didjaSmoke').addEventListener('change', function(e){
  if(e.target.value === 'true'){
    document.getElementById('triggerField').style.display = 'block'
  }else{
    document.getElementById('triggerField').style.display = 'none'
    }
}) </script>