<%- include('partials/loggedInHeader') -%>
<div class="">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:h-screen">
      <div class="">
          <div>
              <p class="text-center"><strong>User Name</strong>: <%= user.userName %></p>
              <p class="text-center"><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          
          <!-- TEMPORARY JOURNAL BUTTON HERE -->
          <button type="button" class="text-white bg-blue-700 hover:bg-bluegit -800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> <a href="/journal">Journal</a></button>
          
      </div>
      <div>
        <p>Number of day without smoking: <span><%= streak %></span></p>
        <p>Body fact here: <span><%= message %></span></p>
        <p>You have saved: <span><%= user.dailyCost * streak %></span> dollars </p>
      </div>

      <!-- CHART.JS Chart HERE -->      
      <% function moodAverage(data) { %>
        <% let array = [ craving = [], anxiety = [], excitement = [], bored = [], sadness = [], happiness = [], loneliness = [] ] %>
        <% data.forEach(e => { %>
          <% craving.push(e.cravingsLevel) %>
          <% anxiety.push(e.anxietyLevel) %>
          <% excitement.push(e.excitementLevel) %>
          <% bored.push(e.boredomLevel) %>
          <% sadness.push(e.sadnessLevel) %>
          <% happiness.push(e.happinessLevel) %>
          <% loneliness.push(e.lonelinessLevel) %>
         <% }) %>
        <% return array.map(n => n.reduce((prev, curr) => (prev + curr) / 2)) %>
      <% } %>
      <div>
        <div>
          <canvas id="myChart"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const ctx = document.getElementById('myChart');
        
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ['Craving', 'Anxious', 'Excited', 'Bored', 'Sad', 'Happy', 'Lonely'],
              datasets: [{
                label: 'average',
                data: [<%= moodAverage(journal) %>],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>
      </div>

    </div>
  </div>
</div>