<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <!-- TODAY'S MESSGAGE POPUP HERE -->
          <div class="msg"><%= message %></div>
          
          <!-- TEMPORARY JOURNAL BUTTON HERE -->
          <a href="/journal">Profile</a>
          
      </div>
      <div>
        <p>Number of day without smoking: <span>NUMBER</span></p>
        <p>Body fact here</p>
        <p>You have saved: <span>AMOUNT</span> dollars </p>
      </div>

      <div>
       
        <!--  display graph of how frequently a trigger came up         -->
      </div>

      <div>
        <!--  display visual representation of mood over time         -->
      </div>

    </div>
  </div>
</div>
<%- include('partials/footer') -%>