<%- include('partials/header') -%>
<div class="">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:h-screen">
      <div class="">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <!-- TODAY'S MESSGAGE POPUP HERE -->
          <div class="msg"><%= message %></div>
          
          <!-- TEMPORARY JOURNAL BUTTON HERE -->
          <a href="/journal">Profile</a>
          
      </div>
      <div>
        <p>Number of day without smoking: <span>NUMBER</span></p>
        <p>Body fact here</p>
        <p>You have saved: <span>AMOUNT</span> dollars </p>
      </div>

      <div>
       
        <!--  display graph of how frequently a trigger came up         -->
        <iframe src="https://charts.mongodb.com/charts-stop-smoking-gkmjm/public/dashboards/63770098-8226-4a27-8269-a607a5fc3c83" height="800px" width="100%"></iframe>
        <p>text<br><br><br><br><br><br><br><br>
        </p>
      </div>

      <div>
        <!--  display visual representation of mood over time         -->
      </div>

    </div>
  </div>
</div>
<%- include('partials/footer') -%>